<template name="childrenInClts">
	<div class="page-header">
		<h2>Children's Involvement in Community Led Total Sanitation<small></small></h2>
	</div>
	<div>
		<h4>Heading</h4>
		<p>dddddddddddddddddddddddddddddddddddd</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>Heading</h4>
		<p>dddddddddddddddddddddddddddddddddddddd.</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>Heading</h4>
		<p>fffffffffffffffffffffffffffffffffffffffff</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>Heading</h4>
		<p>dddddddddddddddddddddddddddddddddddd</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
</template>