<template name="diseaseTransmission">
	<div class="page-header">
		<h2>Disease Transmission and F-Diagram<small></small></h2>
	</div>
	<div>
		<h4>Diease Transmission</h4>
		<p>In medicine and biology, transmission is the passing of a communicable disease from an infected host individual or group to a conspecific individual or group, regardless of whether the other individual was previously infected. Sometimes transmission can specifically mean infection of a previously uninfected host</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>Heading</h4>
		<p>dddddddddddddddddddddddddddddddddddddd.</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>Heading</h4>
		<p>fffffffffffffffffffffffffffffffffffffffff</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>Heading</h4>
		<p>dddddddddddddddddddddddddddddddddddd</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
</template>