<template name="financingWinsActivities">
	<div class="page-header">
		<h2>Financing WASH in Schools Activities<small></small></h2>
	</div>
	<div>
		<h4>Heading</h4>
		<p>dddddddddddddddddddddddddddddddddddd</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>Heading</h4>
		<p>dddddddddddddddddddddddddddddddddddddd.</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>Heading</h4>
		<p>fffffffffffffffffffffffffffffffffffffffff</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>Heading</h4>
		<p>dddddddddddddddddddddddddddddddddddd</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
</template>