<template name="menstrualHygieneManagement">
	<div class="page-header">
		<h2>Menstrual Hygiene Management<small></small></h2>
	</div>
	<div>
		<h4>Introduction</h4>
		<p>dddddddddddddddddddddddddddddddddddd</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>Why Menstrual Hygiene Management</h4>
		<p>dddddddddddddddddddddddddddddddddddddd.</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>Implementing Menstrual Hygiene Management in School</h4>
		<p>fffffffffffffffffffffffffffffffffffffffff</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>Heading</h4>
		<p>dddddddddddddddddddddddddddddddddddd</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
</template>