<template name="waterQuality">
	<div class="page-header">
		<h2>Water Quality<small></small></h2>
	</div>
	<div>
		<h4>Heading</h4>
		<p>dddddddddddddddddddddddddddddddddddd</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>Water Safety</h4>
		<p>Definition: A right balance in the sensory, physio-chemical and bacteriological qualities of water makes it safe and beneficial for health. Being universal solvent, water acts as carrier for different ionic substances and is responsible for various extracellular and intracellular balances of minerals in human body.</p>
		<p>ffffffffffffffffffffffffffffffffffffffffff ddddddddd rrrrrrrrrrrr rrrrrrrrrrrrrrrrrrrr rrrrrrrrr rrr rrrrrrrrr rrrr rrrrrrr rrrrrrr r   rrrrrr rrr rrrrrrrrrrrrrrrr  r rrrrrrrrrrrrrrrr</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>What if the water is not safe to drink?</h4>
		<p>In the world, the most common contamination of ground water sources is from human sewage and in particular human fecal pathogenic organisms.Unsafe handling and storage of water compounds the problem. Diarrhoea remains the second leading cause of death among children, nearly one in five child deaths; about 1.5 million each year is due to diarrhoea. It kills more young children than AIDS, malaria and measles combined.
Children who suffer from intestinal infections carry the disadvantage into school. 88% of diarrheal disease is caused by unsafe water supply, and inadequate sanitation and hygiene. Subsequently, diarrhoea contributes to absenteeism among school aged children WHO has estimated that 1863 million schooldays would be gained due to less diarrhoeal illness if everyone in the world had access to safe drinking water and sanitation. In addition, directly reduce cognitive potential and indirectly undermines schooling through absenteeism, attention deficits and early dropout.
</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
	<div>
		<h4>Heading</h4>
		<p>dddddddddddddddddddddddddddddddddddd</p>
		<p>ffffffffffffffffffffffffffffffffffff</p>
		<p>sssssssssssssssssssssssssssssssssssss</p>
	</div>
</template>