<template name="acronyms">
	<div class="page-header">
		<h2>Glossary<small></small></h2>
	</div>
	<div>
		<p>Click to view meaning of words</p>
	</div>
		<div class="panel-group" id="accordion">
	  	<div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">WASH in Schools</a>
	      </h4>
	    </div>
	    <div id="collapse1" class="panel-collapse collapse in">
	      <div class="panel-body">Water Sanitation and Hygiene in Schools. WinS is also use to represent WASH in Schools.</div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Word 2</a>
	      </h4>
	    </div>
	   <div id="collapse2" class="panel-collapse collapse">
	      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
	      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
	      commodo consequat.</div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Word 3</a>
	      </h4>
	    </div>
	    <div id="collapse3" class="panel-collapse collapse">
	      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
	      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
	      commodo consequat.</div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	  	<div class="panel-heading">
	  		<h4 class="panel-tittle">
	  			<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Word 4</a>
	  		</h4>
	  	</div>
	  	<div id="collapse4" class="panel-collapse collapse">
	  		<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
	      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
	      commodo consequat.</div>
	  	</div>
	  </div>
	  <div class="panel panel-default">
	  	<div class="panel-heading">
	  		<h4 class="panel-tittle">
	  			<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Word 5</a>
	  		</h4>
	  	</div>
	  	<div id="collapse5" class="panel-collapse collapse">
	  		<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
	      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
	      commodo consequat.</div>
	  	</div>
	  </div>
	  <div class="panel panel-default">
	  	<div class="panel-heading">
	  		<h4 class="panel-tittle">
	  			<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Word 6</a>
	  		</h4>
	  	</div>
	  	<div id="collapse6" class="panel-collapse collapse">
	  		<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
	      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
	      commodo consequat.</div>
	  	</div>
	  </div>
	  <div class="panel panel-default">
	  	<div class="panel-heading">
	  		<h4 class="panel-tittle">
	  			<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Word 7</a>
	  		</h4>
	  	</div>
	  	<div id="collapse7" class="panel-collapse collapse">
	  		<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
	      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
	      commodo consequat.</div>
	  	</div>
	  </div>
	  <div class="panel panel-default">
	  	<div class="panel-heading">
	  		<h4 class="panel-tittle">
	  			<a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Word 8</a>
	  		</h4>
	  	</div>
	  	<div id="collapse8" class="panel-collapse collapse">
	  		<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
	      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
	      commodo consequat.</div>
	  	</div>
	  </div>
	  <div class="panel panel-default">
	  	<div class="panel-heading">
	  		<h4 class="panel-tittle">
	  			<a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Word 9</a>
	  		</h4>
	  	</div>
	  	<div id="collapse9" class="panel-collapse collapse">
	  		<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
	      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
	      commodo consequat.</div>
	  	</div>
	  </div>
	  <div class="panel panel-default">
	  	<div class="panel-heading">
	  		<h4 class="panel-tittle">
	  			<a data-toggle="collapse" data-parent="#accordion" href="#collapse10">Word 10</a>
	  		</h4>
	  	</div>
	  	<div id="collapse10" class="panel-collapse collapse">
	  		<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
	      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
	      commodo consequat.</div>
	  	</div>
	  </div>							
	</div>
</template>

