<template name="references">
	<div class="page-header">
		<h2>Reference Links<small></small></h2>
	</div>
	<div>
		<ul>
			<li><a href="http://www.unicef.org/wash/schools">UNICEF WASH in Schools</a></li>
			<li><a href="http://www.growandknow.org/">Menstrual Hygiene-Grow and Know</a></li>
			<li><a href="http://http://www.who.int/water_sanitation_health/publications/wsh_standards_school/en/">Water, Sanitation and Hygiene Standards for Schools in Low-cost Settings</a></li>
			<li><a href="http://www.communityledtotalsanitation.org">Community-Led Total Sanitation</a></li>
			<li><a href="http://www.who.int/water_sanitation_health/dwq/en/">WHO Drinking Water Quality</a></li>
			<li><a href="http://www.unicefinemergencies.com/downloads/eresource/Water_sanitation_and_hygiene.html">WASH in Emergencies</a></li>
			<li><a href="http://www.washinschoolsmapping.com/projects.html">WASHinSchoolsMapping</a></li>
			<li><a href="http://www.unicef.org/wash/schools/washinschools_53115.html">UNICEF WASH in Schools Resources</a></li>
			<li><a href="#">References #9</a></li>
		</ul>
	</div>
</template>