<template name="resources">
	<div class="page-header">
		<h2>Resources<small></small></h2>
	</div>
	<div>
	<ul>
		<li><a href="#">Ghana WASH in Schools Minimum Standards</a></li> 
		<li><a href="">UNICEF WASH in Schools Monitoring Package</a></li>
		<li><a href="http://www.unicef.org/wash/schools/washinschools_53115.html">UNICEF WASH in Schools Resources</a></li> 
		<li><a href="#">Resources #4</a></li> 
		<li><a href="#">Resources #5</a></li> 
		<li><a href="#">Resources #6</a></li> 
		<li><a href="#">Resources #7</a></li> 
		<li><a href="#">Resources #8</a></li> 
		<li><a href="#">Resources #9</a></li> 
	</ul>
	</div>
</template>