<template name="topics">
	<div class="page-header">
	<h2>Topics<small></small></h2>	
	</div>
	<div>
		<h3><ul>
			<li><a href="wash-in-schools">WASH in Schools</a></li>
			<li><a href="implementing-wins">Implementing WASH in Schools</a></li>
			<li><a href="monitoring-wins-implementation">Monitoring WASH in Schools implementation</a></li>
			<li><a href="school-health-club">School Health Club</a></li>
			<li><a href="menstrual-hygiene-management">Menstrual Hygiene Management</a></li>
			<li><a href="handwashing-with-soap-promotion">Hand Washing with Soap Promotion</a></li>
			<li><a href="water-quality">Water Quality</a></li>
			<li><a href="children-in-clts">Children’s involvement in Community Led Total Sanitation</a></li>
			<li><a href="community-in-wins">Community involvement in WASH in Schools</a></li>
			<li><a href="disease-transmission">Disease Transmission and F-Diagram </a></li>
			<li><a href="wins-facilities-mgt-plan">WASH in Schools Facilities Management Plan</a></li>
			<li><a href="financing-wins-activities">Financing WASH in Schools Activities</a></li>
			<li><a href="integrating-wins-into-school">Integrating WASH in Schools into School Curriculum and Extra-curriculum Activities</a></li>
			<li><a href="implementing-three-star-approach">Implementing The Three Star Approach</a></li>
			<li><a href="wins-in-emergencies">WASH in Schools in Emergencies</a></li>
			<li><a href="">.........</a></li>
		</ul></h3>
	</div>
	

</template>	